<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.MouseHoverScenario"/>
      <class name="scripts.LocationTrackingScript"/>
      <class name="scripts.SelectCheckBox"/>
      <class name="scripts.EditProfile"/>
      <class name="scripts.AddScenario"/>
      <class name="scripts.VegOnlyFilterScript"/>
      <class name="scripts.ApplyCouponScript"/>
      <class name="scripts.CostForTwoscript"/>
      <class name="scripts.SearchTbScript"/>
      <class name="scripts.SelectCategory"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
